<script>
	export let isShow = true;
</script>

{#if isShow}
  <div class="loader">
    <div class="container vh-center">
      <div class="loader-v1">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <h1 class="mt-30">LOADING..</h1>
      </div>
    </div>
  </div>
{/if}
<style lang="scss">
  @import "Loader";
</style>