.loader {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: #f1f1f1;

  .loader-v1 {
    span {
      display: inline-block;
      width: 30px;
      height: 120px;
      margin: 0 10px;
      /*background: #2196f3;*/
      background: #fff;
      -webkit-animation: loader 1.4s linear infinite;
      -o-animation: loader 1.4s linear infinite;
      animation: loader 1.4s linear infinite;

      &:nth-child(1) {
        animation-delay: 0s;
      }
      &:nth-child(2) {
        animation-delay: 0.2s;
      }
      &:nth-child(3) {
        animation-delay: 0.4s;
      }
      &:nth-child(4) {
        animation-delay: 0.6s;
      }
      &:nth-child(5) {
        animation-delay: 0.8s;
      }
      &:nth-child(6) {
        animation-delay: 1s;
      }
      &:nth-child(7) {
        animation-delay: 1.2s;
      }
    }
  }

  h1 {
    color: #e5e4e4;
    text-align: center;
    text-shadow: 2px 2px rgba(0,0,0,.5);
  }
  @keyframes loader {
    0% {
      box-shadow: 0 0 0 rgba(0,0,0,.5);
      opacity: 0;
      transform: translateX(-50px) scale(1);
    }
    50% {
      box-shadow: 0 20px 50px rgba(0,0,0,.5);
      opacity: 1;
      transform: translateX(0px) scale(1.2);
    }
    100% {
      box-shadow: 0 0 0 rgba(0,0,0,.5);
      opacity: 0;
      transform: translateX(50px) scale(1);
    }
  }
}
