.page-loader-effect {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  &.active {
    display: block;
  }
  svg {
    display: none;
  }
  canvas {
    width: 100%;
    height: 100%;
    filter: url('#goo');
  }
}
