<script>
	import {App} from './app.js'
	import { onMount, afterUpdate, tick } from 'svelte';
	export let isLoading = false;
	export let colors = [];

	afterUpdate(async () => {
		console.log('the component has updated');
		await tick();
		const app = new App(colors);
	});
	
	$: if (!isLoading) {
		console.log('destryed')
    }
</script>
<!--{#if isLoading}-->
  <div class="page-loader-effect" class:active={isLoading}>
    <canvas id="canvas1"></canvas>
    <svg>
      <defs>
        <filter id="goo">
          <feGaussianBlur in="SourceGraphic" stdDeviation="10"
                          result="blur"/>
          <feColorMatrix in="blur" mode="matrix"
                         values="1 0 0 0 0
                                       0 1 0 0 0
                                       0 0 1 0 0
                                       0 0 0 19 -9"
                         result="goo"/>
          <feComposite in="SourceGraphic"
                       in2="goo"
                       operator="atop"/>
        </filter>
      </defs>
    </svg>
  </div>
<!--{/if}-->
<style lang="scss">
  @import "PageLoaderEffect";
</style>