@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600,700");

.interactions {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(#fcec57, #fff);
  font-family: 'Poppins', Sans-serif, serif;

  h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
  }
  .swiper-slide {
    width: 28.6rem;
    height: 22rem;;
    //margin:0 100px;
    .card {
      position: relative;
      background: #fff;
      width: 28.6rem;
      height: 22rem;

      .content {
        display: grid;
        grid-template-columns: 1fr;
        //grid-template-rows: 12rem auto;
        width: 100%;
        height: 100%;
      }
      .content h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        background-color: #000;
        padding: 1rem;
      }
      .content p {
        background-color: #fff;
        padding: 1rem;
      }
    }

    &:nth-child(1) .card .content h2 {
      background-color: #0acf83;
    }
    &:nth-child(2) .card .content h2 {
      background-color: #ff9a00;
    }
    &:nth-child(3) .card .content h2 {
      background-color: #eb2c09;
    }
    &:nth-child(4) .card .content h2 {
      background-color: #000000;
    }
    &:nth-child(5) .card .content h2 {
      background-color: #00b8fd;
    }
  }

  /*------- Responsive Css --------*/
  @media screen and (max-width: 640px) {

  }
  @media screen and (max-width: 1024px) {
  }
}