<script>
  // Import Swiper Svelte components
  import { Swiper, SwiperSlide } from 'swiper/svelte';
  import 'swiper/swiper.scss';
  import "swiper/components/effect-coverflow/effect-coverflow.min.css"
  import "swiper/components/pagination/pagination.min.css"
  import "./Interactions.scss";
  import SwiperCore, {
    EffectCoverflow,Pagination
  } from 'swiper/core';
  SwiperCore.use([EffectCoverflow,Pagination]);
  import { onMount, afterUpdate, tick } from 'svelte'

  let container, swiper;

  onMount (async () => {
    console.log('the Interactions component has mounted');
    await tick();
  });
</script>
<div class="interactions">
  <div class="container-wide">
    <h1>Interactions</h1>
    <article class="box swiper-container">
      <Swiper effect="{'coverflow'}"
              grabCursor="{true}"
              centeredSlides="{true}"
              slidesPerView="{'auto'}"
              coverflowEffect="{{
         rotate: 30,
         stretch: 0,
         depth: 250,
         modifier: 1,
         slideShadows: true,
        }}" class="mySwiper">
        <SwiperSlide>
          <div class="card">
            <div class="content">
              <img src="assets/images/card1_capture.PNG">
              <a href="http://happenajh.cafe24app.com/sections1/cards1/index.html" target="_blank">
                <p class="text-center">Cards</p>
              </a>
            </div>
          </div>
        </SwiperSlide>
        <SwiperSlide>
          <div class="card">
            <div class="content">
              <img src="assets/images/fixMotionSlider_capture.PNG">
              <a href="http://happenajh.cafe24app.com/sections1/fixMotionSlider/index.html" target="_blank">
                <p class="text-center">FixMotionSlider</p>
              </a>
            </div>
          </div>
        </SwiperSlide>
        <SwiperSlide>
          <div class="card">
            <div class="content">
              <img src="/assets/images/flyingImagepiece_capture.PNG" alt="">
              <a href="http://happenajh.cafe24app.com/sections1/FlyingImagePiece/index.html" target="_blank">
                <p class="text-center">flyingImagePiece</p>
              </a>
            </div>
          </div>
        </SwiperSlide>
        <SwiperSlide>
          <div class="card">
            <div class="content">
              <img src="assets/images/starsNight_capture.PNG" alt="">
              <a href="http://happenajh.cafe24app.com/sections1/starsNight/index.html" target="_blank">
                <p class="text-center">StarsNight</p>
              </a>
            </div>
          </div>
        </SwiperSlide>
        <SwiperSlide>
          <div class="card">
            <div class="content">
              <img src="assets/images/clipSlider_capture.PNG" alt="">
              <a href="http://happenajh.cafe24app.com/sections1/clipSlider/index.html" target="_blank">
                <p class="text-center">ClipSlider</p>
              </a>
            </div>
          </div>
        </SwiperSlide>
        <SwiperSlide>
          <div class="card">
            <div class="content">
              <img src="assets/images/particles_capture.PNG" alt="">
              <a href="http://happenajh.cafe24app.com/sections1/particles/index.html" target="_blank">
                <p class="text-center">Particles</p>
              </a>
            </div>
          </div>
        </SwiperSlide>
        <SwiperSlide>
          <div class="card">
            <div class="content">
              <img src="assets/images/touchImageSlider_capture.PNG" alt="">
              <a href="http://happenajh.cafe24app.com/sections1/touchImageSlider/index.html" target="_blank">
                <p class="text-center">Touch Image Slider</p>
              </a>
            </div>
          </div>
        </SwiperSlide>
        <SwiperSlide>
          <div class="card">
            <div class="content">
              <img src="assets/images/fixMotion1_capture.PNG" alt="">
              <a href="http://happenajh.cafe24app.com/sections2/fixMotion1/index.html" target="_blank">
                <p class="text-center">FixMotion1</p>
              </a>
            </div>
          </div>
        </SwiperSlide>
      </Swiper>
    </article>
  </div>
</div>