@import 'reset';
@import 'setting';
@import 'color';
@import 'font';
@import 'utill';
//@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//스크롤 없애기

* {
  -ms-overflow-style: none;// !* IE and Edge *!
  scrollbar-width: none; // !* Firefox *!
}
*::-webkit-scrollbar {
  display: none; //!* Chrome, Safari, Opera*!
}
//
//*::-webkit-scrollbar {
//  width: 15px;
//}
//
//*::-webkit-scrollbar-track {
//  background-color: transparent;
//}
//*::-webkit-scrollbar-thumb {
//  border-radius: 5px;
//  background-color: $gray400;
//}
//*::-webkit-scrollbar-thumb:hover{
//  background-color: $gray500;
//}
//*::-webkit-scrollbar-button {
//  width: 0;
//  height: 0;
//}

html {
  font-family: 'NotoSansKR', sans-serif;

  font-size: 8px;
  //Small (sm)
  @media screen and(min-width: 640px) {
    $font-standard: 8px !global;
    font-size: $font-standard !important;
  }
  //Medium (md) 
  @media screen and(min-width: 768px) {
    $font-standard: 10px !global;
    font-size: $font-standard !important;
  }
  // Large (lg)
  @media screen and(min-width: 1024px) {
    $font-standard: 12px !global;
    font-size: $font-standard !important;
  }
  // Extra Large (xl)
  @media screen and (min-width: 1280px) {
    $font-standard: 14px !global;
    font-size: $font-standard !important;
  }

  body {
    color: $gray900;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    //font-family: 'Spoqa Han Sans';
    //font-family: 'Spoqa Han Sans', sans-serif;
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    overflow: hidden;
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
  }
  input::placeholder {
    color: $gray300;
  }
  button {
    cursor: pointer;
  }
  a {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    &:link {
      text-decoration: none;
    }
    &:visited {
      text-decoration: none;
    }
    &:active {
      text-decoration: none;
    }
    &:hover {
      text-decoration: none;
    }
  }
  ul {
    padding: 0px;
  }
  ul li {
    list-style: none;
  }

  figure {
    max-width: 100%;
    max-height: 100%;
  }

  img {
    max-width: 100%;
  }

  video {
    width: 100%;
    height: 100%;
    -o-object-fit: fill;
    object-fit: fill;
  }
  ol, ul {
    list-style: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}

// Tags
h1,h2,h3,h4,h5,h6
{
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
span,p,small,li,section,article,div,p
{
  font-weight: normal;
}



h1 {
  font-size: calc-unit-rem(48px);
}

h2 {
  font-size: calc-unit-rem(32px);
}

h3 {
  font-size: calc-unit-rem(24px);
}

h4 {
  font-size: calc-unit-rem(20px);
}
h5 {
  font-size: calc-unit-rem(18px);
}
h6 {
  font-size: calc-unit-rem(16px);
}

main {
  padding-right: 0;
  padding-left: 0;
  //transform: translateY(calc-unit-rem(58px));
  margin-top: calc-unit-rem(58px);
}
p {
  font-size: calc-unit-rem(20px);
  line-height: normal;
  letter-spacing: normal;
  word-break: keep-all;

}
small {
  font-size: calc-unit-rem(16px);
}
section, article {
  //padding: calc-unit-rem(10px) calc-unit-rem(10px);
  //margin: calc-unit-rem(20px)
}
section {

}
*:focus {
  //border: 1px solid blue;
  //outline: none;
}
// Container
.container {
  width: 100%;
  margin: 0 auto;
  padding-left: calc-unit-rem(98px);
  padding-right: calc-unit-rem(98px);
}

.container-wide {
  width: 100%;
}

// Basic Class
// Border
.no-border {
  border-top: none !important;
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important;
}
// Text 정렬
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

//Visibility
.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.clearfix::after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.clear {
  clear: both;
}
// 정렬
.v-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.h-center {
  display: flex;
  justify-content: center;
}
.vh-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

//Flex layout
.flex {
  display: flex;
  flex-wrap: wrap;

  .col {
    //flex-basis: 100%;
    flex-grow: 1;
  }
}

.flex-reverse {
  display: flex;
  flex-wrap: wrap-reverse;

  .col {
    //flex-basis: 100%;
    flex-grow: 1;
  }
}
@include config-order('order',
  '1' 1,
  '2' 2,
  '3' 3,
  '4' 4,
  '5' 5
);

// Grid layout
.grid {
  display: grid;
  //grid-gap: calc-unit-rem(20px);
  align-items: center;
  justify-content: center;

  &.grid-cols-2 {
    -ms-grid-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  &.grid-cols-3 {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  &.grid-cols-4 {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  &.grid-cols-5 {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  &.grid-cols-6 {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  &.grid-cols-7 {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
  &.grid-cols-8 {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
  &.grid-cols-9 {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }
  &.grid-cols-10 {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }
  &.grid-cols-11 {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(11, minmax(0, 1fr));
  }
  &.grid-cols-12 {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  &.grid-cols-none {
    grid-template-columns: none;
  }
}

// Margin
@include config-margin-top('mt-',
  '3' calc-unit-rem(3px),
  '5' calc-unit-rem(5px),
  '7' calc-unit-rem(7px),
  '10' calc-unit-rem(10px),
  '15' calc-unit-rem(15px),
  '20' calc-unit-rem(20px),
  '25' calc-unit-rem(25px),
  '30' calc-unit-rem(30px),
  '35' calc-unit-rem(35px),
  '40' calc-unit-rem(40px),
  '45' calc-unit-rem(45px),
  '50' calc-unit-rem(50px),
  '55' calc-unit-rem(55px),
  '60' calc-unit-rem(60px),
  '65' calc-unit-rem(60px),
  '70' calc-unit-rem(70px),
  '100' calc-unit-rem(100px),
  '110' calc-unit-rem(120px),
  '120' calc-unit-rem(120px),
  '130' calc-unit-rem(130px),
  '140' calc-unit-rem(140px),
  '180' calc-unit-rem(180px),
  '225' calc-unit-rem(225px)
);

@include config-margin-bottom('mb-',
  '0' calc-unit-rem(0px),
  '10' calc-unit-rem(10px),
  '15' calc-unit-rem(15px),
  '20' calc-unit-rem(20px),
  '25' calc-unit-rem(25px),
  '30' calc-unit-rem(30px),
  '35' calc-unit-rem(35px),
  '40' calc-unit-rem(40px),
  '45' calc-unit-rem(45px),
  '50' calc-unit-rem(50px),
  '55' calc-unit-rem(55px),
  '60' calc-unit-rem(60px),
  '65' calc-unit-rem(65px),
  '70' calc-unit-rem(70px),
  '100' calc-unit-rem(100px),
  '110' calc-unit-rem(120px),
  '120' calc-unit-rem(120px),
  '130' calc-unit-rem(130px),
  '140' calc-unit-rem(140px),
  '180' calc-unit-rem(180px),
  '200' calc-unit-rem(200px),
  '225' calc-unit-rem(225px)
  '300' calc-unit-rem(300px)
);

@include config-margin-left('ml-',
  '10' calc-unit-rem(10px),
  '15' calc-unit-rem(15px),
  '20' calc-unit-rem(20px),
  '25' calc-unit-rem(25px),
  '30' calc-unit-rem(30px),
  '35' calc-unit-rem(35px),
  '40' calc-unit-rem(40px),
  '45' calc-unit-rem(45px),
  '50' calc-unit-rem(50px),
  '55' calc-unit-rem(55px),
  '60' calc-unit-rem(60px),
  '65' calc-unit-rem(65px),
  '70' calc-unit-rem(70px),
  '100' calc-unit-rem(100px),
  '110' calc-unit-rem(120px),
  '120' calc-unit-rem(120px),
  '130' calc-unit-rem(130px),
  '140' calc-unit-rem(140px)
);

@include config-margin-right('mr-',
  '0' calc-unit-rem(0px),
  '5' calc-unit-rem(5px),
  '10' calc-unit-rem(10px),
  '15' calc-unit-rem(15px),
  '20' calc-unit-rem(20px),
  '25' calc-unit-rem(25px),
  '30' calc-unit-rem(30px),
  '35' calc-unit-rem(35px),
  '40' calc-unit-rem(40px),
  '45' calc-unit-rem(45px),
  '50' calc-unit-rem(50px),
  '55' calc-unit-rem(55px),
  '60' calc-unit-rem(60px),
  '65' calc-unit-rem(65px),
  '70' calc-unit-rem(70px),
  '100' calc-unit-rem(100px),
  '110' calc-unit-rem(120px),
  '120' calc-unit-rem(120px),
  '130' calc-unit-rem(130px),
  '140' calc-unit-rem(140px)
);

//Padding
@include config-padding-top('pt-',
  '10' calc-unit-rem(10px),
  '15' calc-unit-rem(15px),
  '20' calc-unit-rem(20px),
  '30' calc-unit-rem(30px),
  '40' calc-unit-rem(40px),
  '50' calc-unit-rem(50px)
);

@include config-padding-bottom('pb-',
  '10' calc-unit-rem(10px),
  '15' calc-unit-rem(15px),
  '20' calc-unit-rem(20px),
  '30' calc-unit-rem(30px),
  '40' calc-unit-rem(40px),
  '50' calc-unit-rem(50px)
);

@include config-padding-left('pl-',
  '0' 0px,
  '10' calc-unit-rem(10px),
  '15' calc-unit-rem(15px),
  '20' calc-unit-rem(20px),
  '30' calc-unit-rem(30px),
  '35' calc-unit-rem(35px),
  '40' calc-unit-rem(40px),
  '50' calc-unit-rem(50px)
);

@include config-padding-right('pr-',
  '10' calc-unit-rem(10px),
  '15' calc-unit-rem(15px),
  '20' calc-unit-rem(20px),
  '30' calc-unit-rem(30px),
  '40' calc-unit-rem(40px),
  '50' calc-unit-rem(50px),
  '60' calc-unit-rem(60px),
  '65' calc-unit-rem(65px)
);

//Width
@include config-width('w-',
  '100' calc-unit-rem(100px),
  '140' calc-unit-rem(140px),
  '150' calc-unit-rem(150px),
  '200' calc-unit-rem(200px),
  '250' calc-unit-rem(250px),
  '300' calc-unit-rem(300px),
  '350' calc-unit-rem(350px),
  '400' calc-unit-rem(400px),
  '450' calc-unit-rem(450px),
  '500' calc-unit-rem(500px),
  '785' calc-unit-rem(785px)
);

//BackGround
@include config-bg-color('bg-',
  'ddefee' #ddefee,
  'dde2fd' #dde2fd,
  'dedddd' #dedddd,
  'dbdbdb' #dbdbdb,
  '89ffc2' #89ffc2,
  '39f092' #39f092,
  'c9ffe3' #c9ffe3,
  '008ffd' #008ffd,
  '0074c9' #0074c9,
  'green400' $green400,
  'cyan300' $cyan300,
  'cyan500' $cyan500,
  'green500' $green500,
  'orange400' $orange400,
  'gray300' $gray300,
  'blue500' $blue500,
  'blue600' $blue600,
  'blue900' $blue900
);

//Font
@include config-font-size('font-',
  '8' calc-unit-rem(8px),
  '10' calc-unit-rem(10px),
  '12' calc-unit-rem(12px),
  '14' calc-unit-rem(14px),
  '16' calc-unit-rem(16px),
  '18' calc-unit-rem(18px),
  '20' calc-unit-rem(20px),
  '24' calc-unit-rem(24px)
);

@include config-font-color('color-',
  'white' #ffffff,
  'black' #000000,
  'gray900' $gray900,
  'gray500' $gray500,
  'blue500' $blue500,
  'green500' $green500,
  'gray300' $gray300,
  'gray400' $gray400,
  'orange500' $orange500,
  'red600' $red600,
  'cyan300' $cyan300,
  'cyan500' $cyan500,
  'orange400' $orange400,
  'blue500' $blue500,
  'blue900' $blue900,
  'yellow500' $yellow500
);

.bold {
  font-weight: bold;
}

/*------- Responsive Css --------*/
//Small (sm)
@media screen and(max-width: 640px) {
  .container {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr)) !important;
    grid-template-rows: max-content;
  }

  .toasted-container .toasted.bubble, .toasted-container .toasted-primary {
      top: 100px !important;
  }

  @include config-sm-class('sm-',
      ('text-left' 'text-align' left),
      ('text-center' 'text-align' center),
      ('text-right' 'text-align' right),
      ('hidden' 'display' none),
      ('mb-0' 'margin-bottom' '0'),
      ('mb-50', 'margin-bottom', '50px'),
      ('order-1', 'order', '1'),
      ('order-2', 'order', '2'),
      ('padding-0' 'padding' '0'),
      ('ml-0' 'margin-left' '0'),
      ('mr-0' 'margin-right' '0')
  );
};
@media screen and (min-width: 640px) {
  .container {
    max-width: 640px !important;
  }
  .flex,
  .flex-reverse {
    .col {
      flex-basis: 0 !important;
    }
  }
};
//Medium(md)
@media screen and (min-width: 640px) and(max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .container {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  @include config-sm-class('md-',
      ('text-left' 'text-align' left),
      ('text-center' 'text-align' center),
      ('text-right' 'text-align' right),
      ('hidden' 'display' none),
      ('mb-0' 'margin-bottom' 0)
  );
};
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px !important;
  }
  .flex,
  .flex-reverse {
    .col {
      flex-basis: 0 !important;
    }
  }
};

// Large (lg)
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  @include config-lg-class('lg-',
      ('text-left' 'text-align' left),
      ('text-center' 'text-align' center),
      ('text-right' 'text-align' right),
      ('hidden' 'display' none),
      ('mb-0' 'margin-bottom' 0)
  );
};
@media screen and (min-width: 1024px){
  .container {
    max-width: 1024px !important;
  }
  .flex,
  .flex-reverse {
    .col {
      flex-basis: 0 !important;
    }
  }
};
// Extra Large (xl)
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  @include config-xl-class('xl-',
      ('text-left' 'text-align' left),
      ('text-center' 'text-align' center),
      ('text-right' 'text-align' right),
      ('hidden' 'display' none),
      ('mb-0' 'margin-bottom' 0)
  );
};

@media screen and(min-width: 1280px) {
  .container {
    max-width: 1440px !important;
  }
  .flex,
  .flex-reverse {
    .col {
      flex-basis: 0 !important;
    }
  }
};
