// size
$font-standard: 14px;
$content-width: 1242px;

// function
@function calc-unit-rem ($target) {
  @return ($target / $font-standard)+rem;
}
//Mixin
@mixin setFontSizeAndLine ($size, $lineHeight, $fontWeight) {
  font-size: $size + px;
  line-height: $lineHeight;
  font-weight: $fontWeight;
}
@mixin config-font-color($prefix, $colors...) {
  @each $i in $colors {
    .#{$prefix}#{nth($i, 1)} {
      color: nth($i, 2) !important;
    }
  }
}
@mixin config-font-size($prefix, $sizes...) {
  @each $i in $sizes {
    .#{$prefix}#{nth($i, 1)} {
      font-size: nth($i, 2) !important;
    }
  }
}
@mixin config-bg-color($prefix, $colors...) {
  @each $i in $colors {
    .#{$prefix}#{nth($i, 1)} {
      background-color: nth($i, 2) !important;
    }
  }
}
@mixin config-margin-top($prefix, $margins...) {
  @each $i in $margins {
    .#{$prefix}#{nth($i, 1)} {
      margin-top: nth($i, 2);
    }
  }
}
@mixin config-margin-bottom($prefix, $margins...) {
  @each $i in $margins {
    .#{$prefix}#{nth($i, 1)} {
      margin-bottom: nth($i, 2);
    }
  }
}
@mixin config-margin-left($prefix, $margins...) {
  @each $i in $margins {
    .#{$prefix}#{nth($i, 1)} {
      margin-left: nth($i, 2);
    }
  }
}
@mixin config-margin-right($prefix, $margins...) {
  @each $i in $margins {
    .#{$prefix}#{nth($i, 1)} {
      margin-right: nth($i, 2);
    }
  }
}
@mixin config-padding-top($prefix, $paddings...) {
  @each $i in $paddings {
    .#{$prefix}#{nth($i, 1)} {
      padding-top: nth($i, 2);
    }
  }
}
@mixin config-padding-bottom($prefix, $paddings...) {
  @each $i in $paddings {
    .#{$prefix}#{nth($i, 1)} {
      padding-bottom: nth($i, 2);
    }
  }
}
@mixin config-padding-left($prefix, $paddings...) {
  @each $i in $paddings {
    .#{$prefix}#{nth($i, 1)} {
      padding-left: nth($i, 2);
    }
  }
}
@mixin config-padding-right($prefix, $paddings...) {
  @each $i in $paddings {
    .#{$prefix}#{nth($i, 1)} {
      padding-right: nth($i, 2);
    }
  }
}
@mixin config-order($prefix, $orders...) {
  @each $i in $orders {
    .#{$prefix}#{nth($i, 1)} {
      order: nth($i, 2);
    }
  }
}
@mixin config-width($prefix, $widths...) {
  @each $i in $widths {
    .#{$prefix}#{nth($i, 1)} {
      width: 100%;
      max-width: nth($i, 2);
    }
  }
}
@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
@mixin transition($property) {
  -webkit-transition: $property;
  -ms-transition: $property;
  transition: $property;
}
@mixin config-sm-class($prefix, $classes...) {
  @each $i in $classes {
    .#{$prefix}#{nth($i, 1)} {
      #{nth($i, 2)}: #{nth($i, 3)} !important;
    }
  }
}
@mixin config-md-class($prefix, $classes...) {
  @each $i in $classes {
    .#{$prefix}#{nth($i, 1)} {
      #{nth($i, 2)}: nth($i, 3) !important;
    }
  }
}
@mixin config-lg-class($prefix, $classes...) {
  @each $i in $classes {
    .#{$prefix}#{nth($i, 1)} {
      #{nth($i, 2)}: nth($i, 3) !important;
    }
  }
}
@mixin config-xl-class($prefix, $classes...) {
  @each $i in $classes {
    .#{$prefix}#{nth($i, 1)} {
      #{nth($i, 2)}: nth($i, 3) !important;
    }
  }
}



