.imagePopup-wrapper {
  .imagePopup {
    height: 100vh;

    .container {
      height: 100%;
    }
  }
  :global(.swiper-container) {
    width: 80%;
    padding: 50px;
  }
  :global(.swiper-slide) {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  :global(.swiper-slide img) {
    display: block;
    //width: 100%;
    //height: 100%;
    object-fit: contain;
  }
}
