<script>
  import { Swiper, SwiperSlide } from 'swiper/svelte';
  // Import Swiper styles
  import 'swiper/swiper.scss';
  import "swiper/components/pagination/pagination.min.css"
  import "swiper/components/navigation/navigation.min.css"
  import { createEventDispatcher } from 'svelte'
  const dispatch = createEventDispatcher()
  import Modal from "../modal/Modal.svelte";

  export let showModal = false;
  export let images = [];

  // import Swiper core and required modules
  import SwiperCore, {
    Pagination,Navigation
  } from 'swiper/core';

  // install Swiper modules
  SwiperCore.use([Navigation,Pagination]);

  function onCloseClick (e){
    e.preventDefault();

    // when it's time to trigger the event
    dispatch('close')
  }
</script>

<Modal showModal="{showModal}" on:close={onCloseClick}>
  <div class="imagePopup-wrapper" slot="main">
    <div class="imagePopup">
      <div class="container">
        <Swiper pagination='{{
  "type": "progressbar"
}}' navigation="{true}" spaceBetween="{30}" class="mySwiper">
          {#each images as img}
            <SwiperSlide>
              <img src={img} alt="image"/>
            </SwiperSlide>
          {/each}
        </Swiper>
      </div>
    </div>
  </div>
</Modal>

<style lang="scss">
  @import "ImagePopup";
</style>