.history {
  height: 100%;
  overflow-y: scroll;
}
.history-container {
  width: 100%;
  height: 2000px;

  .scroll-down {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 50px;
    border: 2px solid #ffffff;
    border-radius: 50px;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 20%;
      left: 50%;
      border: 2px solid #ffffff;
      width: 10px;
      height: 10px;
      transform: translate(-50%, -50%) rotate(45deg);
      border-top: transparent;
      border-left: transparent;
      animation: scroll-down 1s ease-in-out infinite;
    }

    &:after {
      top: 30%;
    }
    @keyframes scroll-down {
      0% {
        opacity: 0;
      }
      30% {
        opacity: 1;
      }
      60% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        top: 90%
      }
    }
  }
  .wrapper {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #434141//radial-gradient(#434141, #2f2f2f);
  }
  .box {
    position: relative;
    width: 500px;
    height: 500px;
    perspective-origin: center;
    margin-top: 80px;

    h1.title {
      color: #cf8650;
    }
    small {
      display: block;
      color: #ffffff;
    }
    .floor {
      content: '';
      width: 100%;
      height: 3000px;
      position: absolute;
      bottom: 0;
      z-index: 1;
      background: #ffffff;
      box-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4, 0 0 60px #03bcf4, 0 0 160px #03bcf4;
      transform: translateZ(500px) rotateX(92deg);
      transform-origin: bottom;
      ///-webkit-box-reflect: below 10px linear-gradient(transparent, #2f2f2f);
    }
  }
  .content {
    position: absolute;
    top: 200px;

    h1 {
      font-size: 24px;
    }
    p {
      font-size: 12px;
    }
    &.left {
      left:0;
    }
    &.right {
      right:0;
    }

    text-align: center;
    width: 200px;
    height: 200px;
    color: #ffffff;
    transform-style: preserve-3d;
    text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4;
    outline: none;
    padding: 10px;
  }
}