<script>
	import { onMount, afterUpdate, tick } from 'svelte'
	import {History} from './history'

	let container, root;
	let perspective = 2500;
	let nextPerspective = 2500;
    let app;

	onMount (async () => {
		console.log('the history component has mounted');
		await tick();
		app = new History(root, container);
		app.onScroll = (obj) => {
			console.log(obj.scrollPerecnt)
			let p = (perspective * (1 - obj.scrollPerecnt));
			if (p > 200) {
				console.log('1 - obj.scrollPerecnt', 1 - obj.scrollPerecnt);
				nextPerspective = p;
				console.log('perspective', p)
			} else {
				nextPerspective = 200;
            }
		}
	});
</script>
<div class="history" bind:this={root}>
  <div class="history-container" bind:this={container}>
    <div class="wrapper">
      <div class="container-wide vh-center">
        <div class="box" style="perspective: {nextPerspective}px">
          <h1 class="title text-center">History</h1>
          <small class="text-center">Please Scroll Down</small>
          <div class="text-center mt-10"><span class="scroll-down"></span></div>

          <div class="content left" style="transform: translateZ(100px)">
            <h1>동국 대학교</h1>
            <p>IT, 정보통신 공학과 졸업</p>
          </div>
          <div class="content left" style="transform: translateZ(500px)">
            <h1>유니타스</h1>
            <p>웹어플리케이션 서버개발 <br> 2013 ~ 2015</p>
          </div>
          <div class="content right" style="transform: translateZ(100px)">
            <h1>STGKorea</h1>
            <p>한미연합훈련 통합 사이트 관리및 유지보수 <br> 2012</p>
          </div>
          <div class="content right" style="transform: translateZ(500px)">
            <h1>공팔리터</h1>
            <p>웹 프론트엔드 개발 <br> 2016</p>
          </div>
          <div class="content left" style="transform: translateZ(1000px)">
            <h1>MAXST</h1>
            <p>웹 프론트엔드 개발 <br>
              2016 ~ 2022
            </p>
          </div>
          <div class="content right" style="transform: translateZ(1500px)">
            <h1>플라스크</h1>
            <p>웹 프론트엔드 개발 <br>
              2022 ~ 2023
            </p>
          </div>
          <div class="content left" style="transform: translateZ(1500px)">
            <h1>미리 캔버스</h1>
            <p>웹 프론트엔드 개발 <br>
            2023
            </p>
          </div>
          <div class="floor"></div>
        </div>
      </div>
    </div>
  </div>

</div>
<style lang="scss">
  @import "History";
</style>