<script>

import {onMount, afterUpdate, tick} from 'svelte'
import Modal from '../components/modal/Modal.svelte'
import AboutMe from './AboutMe/AboutMe.svelte'
import History from './History/History.svelte'
import Publications from './Publications/Publications.svelte'
import Interactions from './Interactions/Interactions.svelte'
import Loader from '../components/loader/Loader.svelte'
import PageLoaderEffect from '../components/pageLoaderEffect/PageLoaderEffect.svelte'
import {Park} from "./park";

let park;
let cameraMode = 'init', // 'init', 'front', 'top'
        isShowLoader = true,
        isLoading = false,
        isAboutMeShow = false,
        isHistoryShow = false,
        isPublicationsShow = false,
        isInteractionsShow = false,
        playerActive = false,
        tColors = ['#65dfc9', '#6cc7eb'];

onMount(async () => {
  console.log('the home component has mounted');
  await tick();
  park = new Park();

  // loading Manager Events
  park.loadingManager.onStart = () => {
    console.log('onStart')
    isShowLoader = true;
  }
  park.loadingManager.onProgress = () => {
    console.log('onProgress')
  }
  park.loadingManager.onLoad = async () => {
    console.log('onLoad')
    await new Promise(resolve => setTimeout(resolve, 2000));
    isShowLoader = false;
  }

  // when player on spot event
  park.onPlayerOnSpot = (spotName) => {
    playerActive = false

    switch (spotName) {
      case 'Spot1':
        onHistory()
        break
      case 'Spot2':
        onInteractions()
        break
      case 'Spot3':
        onPublications()
        break
      case 'Spot4':
        onAboutMe()
        break
      default:
        break
    }
  }
});


const onAboutMe = async () => {
  tColors = ['#65dfc9', '#6cc7eb'];
  isLoading = !isLoading;
  await new Promise(resolve => setTimeout(resolve, 500));
  isAboutMeShow = true;

  await new Promise(resolve => setTimeout(resolve, 300));
  isLoading = !isLoading;
}
const onHistory = async () => {
  tColors = '#434141';
  isLoading = !isLoading;
  await new Promise(resolve => setTimeout(resolve, 500));
  isHistoryShow = true;

  await new Promise(resolve => setTimeout(resolve, 300));
  isLoading = !isLoading;
}
const onPublications = async () => {
  tColors = ['#e54cd6', '#7e4fd9'];
  isLoading = !isLoading;
  await new Promise(resolve => setTimeout(resolve, 500));
  isPublicationsShow = true;

  await new Promise(resolve => setTimeout(resolve, 300));
  isLoading = !isLoading;
}
const onInteractions = async () => {
  tColors = ['#fcec57', '#fff'];
  isLoading = !isLoading;
  await new Promise(resolve => setTimeout(resolve, 500));
  isInteractionsShow = true;

  await new Promise(resolve => setTimeout(resolve, 300));
  isLoading = !isLoading;
}

$: {
  if (park) {
    park.activeCameraMode = cameraMode;
    park.activePlayer = playerActive;
  }
}
const onStart = () => {
  cameraMode = 'front';
}
const onNext = async () => {
  cameraMode = 'top';
  playerActive = true;
  await new Promise(resolve => setTimeout(resolve, 1000));
}
</script>
<div class="home">
  <div class="content" class:disabled="{cameraMode !== 'init'}">
    <h1 class="mb-15">ENJOY AJK PARK EXPLORE</h1>
    <button class="home-btn home-btn-start" on:click={onStart}>START</button>
  </div>
  <div class="btn-area" class:disabled="{cameraMode !== 'front'}">
    <button class="home-btn home-btn-next" on:click={onNext}>NEXT</button>
  </div>
  <div class="links">
    <div class="links-btn">
      <a href="https://bitbucket.org/anjeonghu/" target="_blank">Bitbucket</a>
      <a href="assets/pdf/JeongHuAnResume.pdf" target="_blank">Download Resume</a>
      <a href="https://stackoverflow.com/users/3457696/happenask" target="_blank">Stack overflow</a>
    </div>
  </div>
</div>
<Modal showModal="{isAboutMeShow}" on:close="{()=>{isAboutMeShow = !isAboutMeShow; playerActive = true}}">
  <AboutMe slot="main"/>
</Modal>
<Modal showModal="{isHistoryShow}" on:close="{()=>{isHistoryShow = !isHistoryShow; playerActive = true}}">
  <History slot="main"/>
</Modal>
<Modal showModal="{isPublicationsShow}" on:close="{()=>{isPublicationsShow = !isPublicationsShow; playerActive = true}}">
  <Publications slot="main"/>
</Modal>
<Modal showModal="{isInteractionsShow}" on:close="{()=>{isInteractionsShow = !isInteractionsShow; playerActive = true}}">
  <Interactions slot="main"/>
</Modal>
<Loader isShow="{isShowLoader}" />
<PageLoaderEffect isLoading="{isLoading}" colors="{tColors}"/>

<style lang="scss">
  @import "Home";
</style>