.home {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, #ff8e7f, #ff8e7f, #eddd50);;
  font-family: 'Dela Gothic One', cursive;;
  overflow: hidden;

  .content {
    position: absolute;
    top: 100px;
    left: 100px;
    max-width: 400px;
    word-break: keep-all;
    text-align: center;
    opacity: 1;
    transition: all 0.5s ease;

    &.disabled {
      opacity: 0;
    }
    h1 {
      color: #ffffff;
    }
  }
  button.home-btn {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background: linear-gradient(90deg, #0162c8, #55e7fc);
    border-radius: 10px;
    padding: 12px 32px;
    &:hover {
      box-shadow: 0 0 10px #55e7fc,
      0 0 20px #55e7fc;
    }
  }
  .btn-area {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    &.disabled {
      display: none;
    }
  }
  .links {
    width: 100%;
    position: fixed;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    //z-index: 999;
    .links-btn {
      width: 600px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 15px;
        color: #ffffff;
        font-size: 12px;
        &:hover {
          opacity: 0.5;
        }
        &:nth-child(1) {
          background: #0c6cfd;
          border-top-left-radius: 25px;
          border-bottom-left-radius: 25px;
        }
        &:nth-child(2) {
          background: #fd0c3c;
        }
        &:nth-child(3) {
          background: #f2720c;
          border-top-right-radius: 25px;
          border-bottom-right-radius: 25px;
        }
      }
    }
  }
}