  .modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.8);
    transition: opacity .3s ease;
    z-index: 9999;
    font-size: 14px;
    //padding: 15px;
    .modal {
      width: 100%;
      height: 100%;
      border-radius: 4px;

      .modal-header {
        position: relative;
        .close-wrapper {
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          z-index: 9999;

          a.close {
            position: relative;
            width: 50px;
            height: 50px;

            &:hover {
              transform: rotateZ(180deg);
              transition: 0.2s ease;
            }
            &:before, &:after {
              position: absolute;
              left: 23px;
              transform-origin: center;
            }
            &:before {
              content: '';
              width: 4px;
              height: 50px;
              background: white;
              transform: rotateZ(-45deg);
            }
            &:after {
              content: '';
              width: 4px;
              height: 50px;
              background: white;
              transform: rotateZ(45deg);
            }
          }
        }
      }
      .modal-body {
        height: 100%;
        //max-height: 100vh;
        //overflow: auto;
      }
    }
  }
