<script>
	import { blur, fade, scale, draw, fly   } from 'svelte/transition';
	import { createEventDispatcher } from 'svelte'
	export let showModal = false;
	const dispatch = createEventDispatcher()

	function onCloseClick (e){
		e.preventDefault();

		// when it's time to trigger the event
		dispatch('close')
    }
</script>
{#if showModal}
<!--  <div class="modal-wrapper" transition:blur="{{amount: 5}}">-->
  <div class="modal-wrapper" >
    <div class="modal">
      <div class="modal-header clearfix">
        <div class="close-wrapper" >
          <a class="close" role="button" on:click={onCloseClick}></a>
        </div>
      </div>
      <div class="modal-body">
        <slot name="main">No Body was provided</slot>
      </div>
    </div>
  </div>
{/if}
<style lang="scss">
  @import "Modal.scss";
</style>