@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans&display=swap');

//:global body {
//  overflow: scroll !important;
//}
.publications {
  font-family: 'Lato', 'Arial', sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right bottom, #be2350, #e54cd6, #7e4fd9);
  padding: 10px;
  overflow: auto;
  text-align: center;

  .bookshelf {
    width: 90vw;

    .sect {
      position: relative;
      width: 100%;
      background: rgba(255, 255, 255, 0.3);
      margin-bottom: 30px;
      
      h1 {
        text-align: center;
        color: #ffffff;
        line-height: 1.5;
      }
      .grid {
        position: relative;
        width: 100%;
        .col {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 450px;
        }

        &:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height:10px;
          background: #ef793a;
          box-shadow: 0 -3px 5px #2f2f2f;
        }
      }
    }
  }

  &::-webkit-scrollbar {
    width: 15px;
    display: block;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #CED4DAFF;
  }
  &::-webkit-scrollbar-thumb:hover{
    background-color: #848C94FF;
  }
  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }
}