<script>
  import Book from '../../components/book/Book.svelte'
  import data from './data.js'
  import ImagePopup from "../../components/imagePopup/ImagePopup.svelte";

  console.log('data.MAXST', data.MAXST)

  let imgUrls = [], showModal = false;
  const onClickImages = (event) => {
    console.log(event.detail.data)
    imgUrls = event.detail.data;
    showModal = true;
  }
</script>
<div class="publications">
  <div class="container vh-center">
    <div class="bookshelf">
      <section class="sect">
        <h1>MIRICANVAS</h1>
        {#each data.MIRICANVAS as itemArray}
          <div class="grid grid-cols-2">
            {#each itemArray as item}
              <div class="col">
                <Book data={item} on:clickImages={onClickImages}/>
              </div>
            {/each}
          </div>
        {/each}
      </section>
      <section class="sect">
        <h1>PLASK</h1>
        {#each data.PLASK as itemArray}
          <div class="grid grid-cols-2">
            {#each itemArray as item}
              <div class="col">
                <Book data={item} on:clickImages={onClickImages}/>
              </div>
            {/each}
          </div>
        {/each}
      </section>
      <section class="sect">
        <h1>MAXST</h1>
        {#each data.MAXST as itemArray}
          <div class="grid grid-cols-2">
            {#each itemArray as item}
              <div class="col">
                <Book data={item} on:clickImages={onClickImages}/>
              </div>
            {/each}
          </div>
        {/each}
      </section>
      <section class="sect">
        <h1>.8L</h1>
        {#each data.GONG8LITER as itemArray}
          <div class="grid grid-cols-2">
            {#each itemArray as item}
              <div class="col">
                <Book data={item} on:clickImages={onClickImages}/>
              </div>
            {/each}
          </div>
        {/each}
      </section>
      <section class="sect">
        <h1>UNITAS</h1>
        {#each data.UNITAS as itemArray}
          <div class="grid grid-cols-2">
            {#each itemArray as item}
              <div class="col">
                <Book data={item} on:clickImages={onClickImages}/>
              </div>
            {/each}
          </div>
        {/each}
      </section>
      <section class="sect">
        <h1>ETC</h1>
        {#each data.ETC as itemArray}
          <div class="grid grid-cols-2">
            {#each itemArray as item}
              <div class="col">
                <Book data={item} on:clickImages={onClickImages}/>
              </div>
            {/each}
          </div>
        {/each}
      </section>
    </div>
  </div>
  <ImagePopup showModal="{showModal}" images="{imgUrls}" on:close="{()=>{showModal = false}}"/>
</div>

<style lang="scss">
  @import "Publications";
</style>