<script>
  import Router from 'svelte-spa-router'
  import routes from './routes'
  import Header from './components/Header.svelte'

</script>
<!--<Header />-->
<main id="app">
  <Router {routes} />
</main>

<style>
    main#app {
        position: relative;
        width: 100vw;
        min-height: 100vh;
        margin: 0 auto;
        /*overflow-y: scroll;*/
    }
    @media (min-width: 640px) {
        main {
            max-width: none;
        }
    }
</style>