.book {
  position: absolute;
  width: 400px;
  height: 350px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.8), 20px 20px 20px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #0c6cfd, #3f5ce3, #4f4dc9);
  perspective-origin: 0 200%;
  perspective: 1000px;
  transform: rotateX(-15deg);
  transform-style: preserve-3d;
  transition: all .2s ease-in;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 9;

  h1 {
    text-align: center;
    color: #ffffff;
    line-height: 1.5;
  }

  &:after {
    content: '';
    width: 100%;
    height: 20px;
    background: #d7d5d5;
    position: absolute;
    bottom: 0;
    left: 0;
    transform-origin: bottom;
    transform: rotateX(309deg) translate(0px, 20px);
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
  }
  &:hover.left {
    animation: ani-left .5s ease forwards;
    z-index: 99;
  }
  &:hover.right {
    animation: ani-right .5s ease forwards;
    z-index: 99;
  }
  &:hover .cover{
    transform-origin: left;
    transform: rotateY(-180deg);
  }

  @keyframes ani-left {
    0%{
      transform: translateX(0) scale(1)
    }
    100% {
      transform: translateX(60%) scale(1.2)
    }
  }
  @keyframes ani-right {
    0%{
      transform: translateX(0) scale(1)
    }
    100% {
      transform: translateX(-10%) scale(1.2)
    }
  }

  .cover {
    width: 380px;
    height: 100%;
    position: relative;
    left: 20px;
    //background: linear-gradient(to bottom, #0c6cfd, #3f5ce3, #4f4dc9);
    transform-style: preserve-3d;
    transform-origin: left;
    transition: all .5s ease-in;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 2;
  }

  article {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    padding: 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);

    &.front {
      background-size: contain;
      background-attachment: fixed;
      //background-repeat: no-repeat;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;

      .title {

      }
      .sub-title {
        h2 {
          font-size: 18px;
          color: #faf3f3cc;
          word-break: break-all;
          margin-bottom: 5px;
        }
      }
      .copyright {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 30px;
        border-bottom-right-radius: 10px;
        p {
          font-weight: bold;
          text-align: center;
          background: linear-gradient(to right, #ffd700, #8ca6ce);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      p {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.9);
      }
      i {
        font-style: italic;
      }
    }

    &.back {
      background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #d4cfcf);
      background-size: contain;
      background-repeat: no-repeat;
      transform: rotateY(180deg);
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;

      :global img {
        max-height: 100%;
      }

    }
  }

  .content {
    position: absolute;
    top: 0;
    left: 20px;
    width: 380px;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to left, #ffffff, #ffffff, #ffffff, #d4cfcf);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 15px;
  }

  .info {

    :global h1 {
      font-size: 14px;
      line-height: 1.5;
      word-break: keep-all;
      margin-bottom: 10px;
    }
    :global p {
      text-align: left;
      font-size: 10px;
      line-height: 1.5;
      word-break: keep-all;
      margin-bottom: 20px;
    }
    :global .projectskills {
      display: flex;
      flex-wrap: wrap;
      .label {
        font-size: 12px;
        font-weight: bold;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
        border: 1px solid #2f2f2f;
        padding: 5px;
        margin: 5px 2px;
      }
    }
  }

}