<script>
  import { createEventDispatcher } from 'svelte'
  export let data = {
    title: 'TITLE',
    subTitle: 'SUB TITLE',
    writer: 'jeongHu An',
    copyright: '2020 MAXST',
    content: '하하하하하하',
    imgUrl: 'https://raw.githubusercontent.com/happenask/staticStorage/master/images/brainTrainer.jpg',
    position: 'left',
    colors: ''
  };
  const dispatch = createEventDispatcher()

  let linearGradient = '';
  linearGradient = `linear-gradient(to bottom, ${data.colors})`

  const onClick = (data) => {
    if (data.imgUrls.length) {
      dispatch('clickImages', {
        data: data.imgUrls
      });
    }
  }
</script>
<div class="book {data.position}" style="background:{linearGradient}">
  <div class="cover" style="background:{linearGradient}">
    <article class="front">
      <div class="title mt-25">
        <h1>{data.title}</h1>
      </div>
      <div class="sub-title">
        <h2>{data.subTitle}</h2>
      </div>
      <div class="writer">
        <p><i>Written by</i> {data.writer}</p>
      </div>
      <div class="copyright">
        <p>&copy;copyright {data.copyright}</p>
      </div>
    </article>
    <article class="back info" on:click={onClick(data)}>
      {@html data.content1}
    </article>
  </div>
  <div class="content info">
      {@html data.content2}
  </div>
</div>


<style lang="scss">
  @import "Book";
</style>