.about-me {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cc7eb);
  padding: 10px;
  overflow: hidden;
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 40%;
    height: 50%;
    background: #90a7ea;
    border-radius: 50%;
    filter: blur(100px);
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 50%;
    background: #13a9e3;
    border-radius: 50%;
    filter: blur(120px);
  }

  .container {
    height: 100%;
  }
  .box {
    width: 100%;
    max-width: 70%;
    max-height: 90%;
    font-size: 14px;
    margin: 3em;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(25px);
    padding: 2em;
    z-index: 99;
    overflow: auto;
    box-shadow: 0 0 5px 0 #535252;

    figure {
      margin: 20px;
      img {
        width: 300px;
      }
    }

    p {
      margin-top: 2em;
      margin-bottom: 2em;
    }

    &::-webkit-scrollbar {
      width: 15px;
      display: block;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: #CED4DAFF;
    }
    &::-webkit-scrollbar-thumb:hover{
      background-color: #848C94FF;
    }
    &::-webkit-scrollbar-button {
      width: 0;
      height: 0;
    }
  }
}