<script>
</script>
  <div class="about-me">
    <div class="container vh-center">
      <div class="box">
        <figure class="float-left">
          <img src="assets/images/me.jpg" alt="profile"/>
        </figure>
        <h3 class="">새로운 미래, 참신한 인재</h3>
        <p>
          온순하다. 성실하다. 이타심이 높다. 자기 역할에 책임감이 강하다.’<br>
          초등학교 때부터 고등학교까지 생활기록부에 적힌 나에 대한 평가입니다. <br><br>
          이러한 성격은 협업하고 팀워크를 중시하는 현대 업무 환경에 적합했고, 팀 구성원으로서
          팀에 동기부여를 하고 시너지를 발휘하는 데 많은 도움이 되었습니다.<br><br>
          생각이 깊고 상상력이 풍부하여 가끔 엉뚱한 생각도 하지만 창의적인 사고와 혁신적인 사고로
          항상 새롭고 참신한 결과물을 만드는데 원동력이 되곤 합니다.
        </p>
        <p>
          앞으로 다가올 새로운 시대에 항상 뒤처지지 않고 선도하는 개발자가 되도록 끊임없이 노력하고
          앞으로 전진하겠습니다.
        </p>
      </div>
    </div>
  </div>

<style lang="scss">
  @import "AboutMe";
</style>